# Node
node_modules/

# Rust Build
/target

# Cargo Flamgraph
perf*
flamegraph.svg

# Tilemap
tiles/

# Minecraft Resourcepack
resourcepack/**/*
!resourcepack/.gitkeep

# VSCode
.vscode/

# Macos
.DS_Store